@import "bootstrap";
@import "bootstrap-sprockets";

$light-sky-blue: #3AA7D8;
$near-white: #edede6;

/* universal */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  &:hover {
    color: $light-sky-blue;
    text-decoration: none;
  }
}

/* header */
header {
  margin-top: 1%;
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: orangered;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: orangered;
  }
}

.header-tags {
  width: 120px;
  float: left;
}

.dropdown-toggle {
  color: $light-sky-blue;
  background-color: white;
}

.dropdown-menu {
  text-align: center;
  background: white;
  border-radius: 25px;
  border: 1px solid $near-white;
  & > a {
    color: $light-sky-blue;
  }
}

.header-btn {
  width: 100px;
}

.btn-m {
  color: $light-sky-blue;
  background-color: white;
}

/* debug box */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid gray;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#register-link {
  margin-top: 2%;
}

/* update profile sidebar */
.side-navigation-container {
  float: left;
  min-height: 1px;
}

.side-navigation {
  background: $near-white;
  list-style: none;
  border-radius: 1px;
  overflow: hidden;
  margin: 30px 0 0;
  padding: 10px;
}

.side-navigation-item {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 500;
  text-align: center;
  display: list-item;
  background-color: white;
  & > a {
    color: $light-sky-blue;
  }
  &:hover {
    background-color: $light-sky-blue;
    & > a {
      color: white;
    }
  }
}

.side-navigation-link {
  display: block;
  padding: 15px 25px;
}
