<div class="edit-location-image">
  <div>
    <%= image_tag f.object.url.to_s, size: "100x100" %>
  </div>
  <div class="field">
    <%= f.label :_destroy, t(".delete") %>
    <%= f.check_box :_destroy %>
  </div>
</div>
